@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

@layer utilities {
  .optimize-visibility {
    content-visibility: auto;
    contain-intrinsic-size: 100px;
  }
}